{% extends 'base_layout/layout.html' %}

{% block content %}

    <div class="row login-container column-seperation">
        <div class="col-md-5 col-md-offset-1">
          <h2>
        로그인하여 메모를 남기세요.
      </h2>
          <p>
            로그인하여 간단하게 메모를 남기세요.
            <br>
            <a href="{% url 'memo:join' %}">Sign up Now!</a> 아이디가 없으신분은 옆에 링크를 통해 회원가입을 해주세요
          </p>
          <br>
        </div>
        <div class="col-md-5">
          <br>
          <form method="post" action="{% url 'memo:login' %}" class="sign-in-form">
  {%csrf_token%}
  <h2 class="sub-title"> 로그인 </h2>
  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {% endif %}
  {% if next %}
      {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
      {% else %}
      <p>Please login to see this page.</p>
      {% endif %}
  {% endif %}
  <div class="form-group">
    <label for="{{ form.username.id_for_label }}">닉네임</label>
    <input class="form-control" id="{{ form.username.id_for_label }}" maxlength="15" name="{{ form.username.html_name }}" type="text" />
  </div>
  <div class="form-group">
    <label for="{{ form.password.id_for_label }}">패스워드</label>
    <input class="form-control" id="{{ form.password.id_for_label }}" maxlength="120" name="{{ form.password.html_name }}" type="password" />
  </div>
  <input type="submit" class="save btn btn-success" value="로그인">
  <a href="{% url 'memo:index' %}">
    <button type="button" class="btn btn-danger">취소</button>
  </a>
</form>

          </form>

        </div>
      </div>

{% endblock %}