{% extends 'base_layout/layout.html' %}

{% block content %}

    <div class="row login-container column-seperation">
        <div class="col-md-5 col-md-offset-1">
          <h2>
        로그인하여 메모를 남기세요.
      </h2>
          <p>
            로그인하여 간단하게 메모를 남기세요.
            <br>
            <a href="#">Sign up Now!</a> 아이디가 없으신분은 옆에 링크를 통해 회원가입을 해주세요
          </p>
          <br>
        </div>
        <div class="col-md-5">
          <br>
          <form method="post">
              {% csrf_token %}
            <div class="row">
              <div class="form-group col-md-10">
                <label class="form-label">Username</label>
                {{ form.username }}
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-10">
                <label class="form-label">Password</label> <span class="help"></span>
                {{ form.password }}
              </div>
            </div>

            <div class="row">
              <div class="col-md-10">
                <button class="btn btn-primary btn-cons pull-right" type="submit">Login</button>
              </div>
            </div>
          </form>
        </div>
      </div>

{% endblock %}